html, body {
  background: #1a1a1a;
  height: 100%;
  margin:0;
  overflow: hidden;
  cursor: crosshair;
}
/* document { font-size:14px; } */
#content {
  height: 100%;
  margin: 0;
}
.lobbyBox {
  stroke-width: 1px;
  stroke: #afafaf;
  fill: #363636;
}
.lobbyBoxSelectable {
  stroke-width: 1px;
  stroke: #afafaf;
  fill: #363636;
}
.lobbyBoxSelectable:hover {
  stroke: #ffb500;
  stroke-width: 2px;
}
.lobbyBoxSelected {
  stroke-width: 2px;
  stroke: #ffb500;
  fill: #363636;
}
.dataText {
  font: 0.8rem B612 Mono;
  stroke: none;
  fill: #ffffffff;
  user-select: none;
}
.data {
  fill: #363636;
  stroke-width: 1px;
  stroke: #ffffffff;
}
.mainDisplay {
  stroke-width: 1px;
  stroke: #afafaf;
  fill: #363636;
}
.largeOverlayText {
  font: 2rem B612 Mono;
  stroke: none;
  fill: #ffffff;
  user-select: none;
  opacity: 0.1;
  text-anchor: middle;
}
.grid {
  stroke-width: 0.5px;
  stroke: #a3a3a3ff;
  fill: none;
}
.craft {
  fill: #363636;
  stroke-width: 1px;
  stroke: #00ff66ff;
}
.enemy {
  stroke: #ff0000;
}
.healthSquare {
  stroke-width: 0.5px;
  stroke: #a3a3a3ff;
  fill: #ffffff;
}
.depleted {
  stroke-width: 0.5px;
  stroke: #a3a3a3ff;
  fill: #363636;
}