html, body {
  background: #1a1a1a;
  height: 100%;
  margin:0;
  overflow: hidden;
  cursor: crosshair;
}
#content {
  height: 100%;
  margin: 0;
}
.mainDisplay {
  stroke-width: 2px;
  stroke: #afafaf;
  fill: #363636;
}
.connectingText {
  font: 1rem B612 Mono;
  stroke: none;
  fill: #ffffffff;
  user-select: none;
  text-anchor: middle;
}
.bold {
  font-weight: bold;
}

.dot {
  animation:pulse 1.4s infinite ease-in-out both;
  fill: #ffffffff;
}
.dot1 {
  animation-delay: -0.32s
}
.dot2 {
  animation-delay: -0.16s
}
@keyframes pulse {
  0%, 80%, 100% {
    opacity: 0.0;
    trasform: scale (0.8);
  }
  40% {
    opacity: 1;
    transform: scale(1);
  }
}

